
<br/><br/>	<b>Reservations</b>
	<% @place.reservations.each do |reservation| %>
		<small><%= reservation.customer.email %></small>
		<p>
	        <%= reservation.date %><br/><br/>
	        <%= reservation.number_of_people %>
	        <% if current_customer.present? && reservation.customer_id == current_customer.id %>
	          <small><%= link_to "Delete" %></small>
	        <% end %>
	      </p>
	<%end%>
	<br/>
